.cart-container {
    background-color:orange;
    margin: 50px;
}

.cart-title, h2 {
    text-align: center;
    padding-top: 40px;
    margin-bottom: 40px;
    color: black;
}

.btn-outline-light {
    width: auto;
    margin: 20px;
}

.title-loading {
    text-align: center;
    margin-top: 7%;
    color: black;
}

.order-container {
    text-align: center;
    color:black;
}